/* ----------------------------------------------- */


/* Document Rules */


/* ----------------------------------------------- */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    font-family: Darker Grotesque, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/* clears floats from other content (look up how it works)*/

.clearfix {
    zoom: 1;
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

#home-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url("./img/Neon-City.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

#head-title {
    position: relative;
    top: 25%;
    right: 30%;
    text-transform: uppercase;
    /* margin: 0%; */
    transform: rotate(270deg);
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 70px;
}